[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "lfe"]
	path = lfe
	url = https://github.com/matthieustigler/lfe
	shallow = true
	registered = true
