[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "partsm"]
	path = partsm
	url = https://github.com/matthieustigler/partsm
	subdir = partsm
[submodule "tsDyn"]
	path = tsDyn
	url = https://github.com/matthieustigler/tsdyn
	subdir = tsDyn
